@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
.super{
    margin-top: -29px;
    padding-left: 30px;
    /* background-color: aquamarine; */
    background-color: #023047;
    height: 100vh;
}

#main {
    width: 1200px;
    /* border: 2px solid black; */
    text-align: center;
    margin: 1em auto;
    /* margin-top: 1em; */
    padding: 1em;
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: #2f8fca;
    border-radius: 20px;
    color: white;

}

.container {
    border: 2px solid black;
    margin: 5em auto;
    padding: 2em;
    max-width: 800px;
    background-color: #2f8fca;
    color: white;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(237, 235, 235);
}

#contant {
    text-align: center;
    padding: 1em;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;
}

#btn {
    border: 2px solid black;
    margin-left: 19em;
    margin-top: 3em;
    padding: 1em 2em;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Playwrite DE Grund", cursive;
    /* font-family: "Anton SC", sans-serif; */
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 2px;
}

#btn:hover{
    background-color: rgba(240, 248, 255, 0.793);
}